:host {
  display: flex;
  flex: 3;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 1rem;
  font-weight: bold;
}

input {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.8rem;
  margin: 4px 0px;
}

span {
  color: #555;
  font-size: .8rem;
  margin-top: 6px;
  text-align: center;
}