:host {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

span {
  color: teal;
  cursor: pointer;
  font-size: .9rem;
  padding: 4px 10px;
}