:host {
  display: flex;
  flex-direction: column;
}

textarea {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  min-height: 200px;
  overflow-y: scroll;
  resize: vertical;
  width: 100%;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: .9rem;
  margin: 0px;
  min-height: 120px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}